production:
  app: bevimmer
  stack: cedar
  config:
    BUNDLE_WITHOUT: "development:test"
    twitter_consumer_key_cn:       (please set)
    twitter_consumer_key_en:       (please set)
    twitter_consumer_key_jp:       (please set)
    twitter_consumer_secret_cn:    (please set)
    twitter_consumer_secret_en:    (please set)
    twitter_consumer_secret_jp:    (please set)
    twitter_oauth_token_cn:        (please set)
    twitter_oauth_token_en:        (please set)
    twitter_oauth_token_jp:        (please set)
    twitter_oauth_token_secret_cn: (please set)
    twitter_oauth_token_secret_en: (please set)
    twitter_oauth_token_secret_jp: (please set)

staging:
  stack: cedar
  app: bevimmer-staging
  config: &default
    BUNDLE_WITHOUT: "development:test"
    twitter_consumer_key_cn:       (please set)
    twitter_consumer_key_en:       (please set)
    twitter_consumer_key_jp:       (please set)
    twitter_consumer_secret_cn:    (please set)
    twitter_consumer_secret_en:    (please set)
    twitter_consumer_secret_jp:    (please set)
    twitter_oauth_token_cn:        (please set)
    twitter_oauth_token_en:        (please set)
    twitter_oauth_token_jp:        (please set)
    twitter_oauth_token_secret_cn: (please set)
    twitter_oauth_token_secret_en: (please set)
    twitter_oauth_token_secret_jp: (please set)
